{% extends "layout.html" %}
{% block top %}
<a href="/logout" class="btn btn-outline-dark btn active" role="button">Logout</a>
<a href="/user" class="btn btn-outline-dark btn active" role="button">Search</a>
{% endblock %}

{% block heading %}
   {{ bookinfo[0]['title'] }}
{% endblock %}

{% block body %}
    Author: {{ bookinfo[0]['author'] }}<br>
    ISBN: {{ bookinfo[0]['isbn'] }}<br>
    Year: {{ bookinfo[0]['year'] }}<br>
    <br>


<a href="/user" class="btn btn-outline-dark btn active" role="button">Return to Search</a>

{% endblock %}
