{% extends "layout.html" %}

{% block heading %}
  Register
{% endblock %}

{% block body %}
<br>
  <form action="{{ url_for('register') }}" method="post">
    <input type="text" id=user_fname name="fname" placeholder="Enter first name"><br>
    <input type="text" id=user_lname name="lname" placeholder="Enter last name"><br>
    <input type="text" id=user_input name="username" placeholder="Enter username"><br>
    <input type="password" id=user_pass name="password" placeholder="Enter password"><br><br>
    <input type="submit" class="btn btn-outline-dark btn active" role="button" id="register" value="Register" disabled value="register" />
  </form>


  <script>
    //used to keep the login button disabled until all fields have been filled in
    $('#user_fname, #user_lname, #user_input, #user_pass').bind('keyup', function() {
    if(allFilled()) $('#register').removeAttr('disabled');
    });

    function allFilled() {
    var filled = true;
    $('body input').each(function() {
        if($(this).val() == '') filled = false;
    });
    return filled;
    }

</script>

{% endblock %}
