/* adjust font sizes */
h1 {
  font-size: 350%;
}

p {
  font-size: 155%;
}

p2 {
  color: grey;
  font-family: 'Courier New', monospace;
  font-size: 120%;
}

p3 {
  color: black;
  font-family: 'Courier New', monospace;
  font-size: 80%;
}

.mylist {
color: grey;
font-family: 'Courier New', monospace;
font-size: 160%;
text-align: left;
list-style: inside;
}

/* set some link properties */
a:visited {
  color: grey!important;
}

a:hover {
  color: #871010!important;
}

/* create some containers */
.about {
  padding: 10px;
  width: 70%;
  margin: auto;
  text-align: center;
}

.artpiece {
  padding: 10px;
  margin: auto;
  text-align: center;
}

.header {
  padding: 10px;
  text-align: left;
  background: black;
  color: black;
  font-size: 25px;
}

.center {
  margin: auto;
  width: 60%;
  padding: 180px 0;
  text-align: center;
}

.center2 {
  margin: auto;
  width: 80%;
  padding: 30px 0;
  text-align: center;
}

.center3 {
  margin: auto;
  width: 20%;
  padding: 10px 0;
  text-align: center;
}

/* Column container */
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

/*left column*/
.left {
  -ms-flex: 50%;
  flex: 50%;
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}
/*right column*/
.right {
  -ms-flex: 50%;
  flex: 50%;
  background-color: white;
  padding: 20px;
  text-align: center;
}
/* image class */
img.images {
  width: auto ;
  max-width: 50% ;
  height: auto ;
}

/* mobile query for smaller screens */
@media screen and (max-width: 600px) {
  img.images {
    width: auto!important;
    max-width: 100%!important;
    height: auto!important;
  }
  .center {
    width: 100%!important;
  }
  .center2, .center3 {
    width: 80%!important;
  }
  .about {
    width: 90%!important;
  }
}

/* set the leaflet map size */
#map { height: 500px; width: auto; }

 /* set the circle properties */
#circle {
  float: left;
  width: 500px;
  height: 500px;
  margin: 0px;
  shape-outside: circle(10% at 30%);
  clip-path: circle(50% at 0%);
  background: white;
}

/* set table properties */
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}

/* set flex container properties */
.flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
}

/* set flex item properties to go in flex container*/
.flex-item {
  outline-style: solid;
  outline-width: 5px;
  outline-color: grey;
  padding: 0;
  width: 300px;
  height: 150px;
  margin-top: 10px;
  margin: auto;
  line-height: 150px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
}
